@font-face {
    font-family: sansation-light;
    src: url("fonts/SansationLight.woff");
}
@font-face {
    font-family: railway;
    src: url("fonts/railway.woff");
}

/*************container***************/
#container{
    background-color: rgb(235, 235, 235);
}
/*************header***************/

#header{
    margin: 0 3% 0 3%;
    border-bottom: groove;
    border-width: 1px;
    border-color: rgb(214, 217, 211);
}
#header .menu{
    font-size: 20px;
    text-align: center;
    padding: 0.5em 0em 0.2em 0em;
}
#header .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3b5998;
}
#header .menu li {
    float: left;
    border-right: 1px solid #bbb;
}
#header .menu li:last-child {
    border-right: none;
}
#header .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#header .menu li:hover:not(.active) {
    background-color: #8b9dc3;
}
#header .menu .active {
    background-color: #052059;
}

/*************footer***************/
#footer {
    clear: both;
    position: relative;
    margin: 2em 3% 0em 3%;
}

#footer p {
    text-align: center;
    padding: 1em;
    font-size: 1.1em;
    color: black;
    font-family: sansation-light;
    border-top: groove;
    border-width: 1px;
    border-color: rgb(214, 217, 211);
}

/*************content***************/
#content{
    margin: 10px 3% 0 3%;
    min-height: 500px;
}

/*************index***************/
.index {
    text-align: center;
    font-family: sansation-light;
}
.index h2 {
    color: rgb(84, 84, 84);
    font-weight: bolder;
    font-size: 2.5em;
    border-bottom: groove;
    border-width: 1px;
    border-color: rgb(214, 217, 211);
    padding-bottom: 0.5em;
}
.index p {
    font-size: 1.5em;
}
.index .row {
    border: groove;
    border-width: 1px;
    border-color: rgb(245, 245, 245);
    background-color:  rgb(245, 245, 245);
    margin: 2em 2em 2em 2em;
}
.index .row .col-sm-3 {
    text-align: center;
    font-size: 1.2em;
    padding: 1em 1em 1em 1em;
}
.index .social a {
    padding: 1em 0em 1em 0em;
}

.index .social p {
    padding: 2em 0em 0em 2em;
}
.index .social a:hover {
    text-decoration: none;
}


/*************offer***************/
.offer {
    font-size: 16px;
}
.offer .listed_products .img-thumbnail {
    align-content: center;
}
.offer .listed_products .row .col-md-6:hover {
    border: 1px solid #393939; 
    background-color: #e0dedf;
}
.offer .listed_products .row a {
    text-decoration: none; 
    color: black; 
}
.offer .listed_products .row h2 {
    text-align: center;
}
.offer .listed_products .row .col-md-3:hover {
    border: 1px solid #393939; 
    background-color: #e0dedf;
}
.offer .listed_products .row .col-md-3 h2 {
    font-size: 16px; 
    font-weight: bold;
}
.offer .listed_products h1 { 
    text-align: center;  
    color: white; 
    background-color: #0E2447; 
    padding: 5px;
}
.offer h2 { 
    font-family: sansation-light; 
    border-bottom: groove;
    border-width: 1px;
    border-color: rgb(214, 217, 211);
}

/*************contact***************/
.contact{
    text-align: center;
    font-family: sansation-light;
}
.contact h2 {
    color: rgb(84, 84, 84);
    font-weight: bolder;
    font-size: 2.5em;
    border-bottom: groove;
    border-width: 1px;
    border-color: rgb(214, 217, 211);
    padding-bottom: 0.5em;
}
.contact .contacBox, .social{
    display: inline-table;
    position: relative;
}
.contact .social {
    float:left;
    font-size: 2em;
}
.contact .social a {
    padding: 1em 0em 1em 0em;
}
.contact .social p {
    padding: 2em 0em 0em 2em;
}
.contact .contacBox textarea {
    resize: none;
}
.contact .contacBox table td {
    padding: 0.4em;
}
.contact .contacBox table tr {
    text-align: left;
}

/*************contact***************/


/*************register*************/

.register {
    text-align: center;
    font-family: sansation-light;
}
.register h2 {
    color: rgb(84, 84, 84);
    font-weight: bolder;
    font-size: 2.5em;
    border-bottom: groove;
    border-width: 1px;
    border-color: rgb(214, 217, 211);
    padding-bottom: 0.5em;
}


/*************END register*************/


.login{
    font-family: sansation-light;
    font-size: 1.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.login h1{
    color: rgb(84, 84, 84);
    font-weight: bolder;
    font-size: 2em;
    border-bottom: groove;
    border-width: 1px;
    border-color: rgb(214, 217, 211);
    padding-bottom: 0.5em;
}
.login h2{
    color: red;
}

/*************admin***************/
#content{

}
#content .menuAdmin, .contentAdmin{
    display: inline-table;
    position: relative;
}

.menuAdmin {
    float: left;
    margin-top: 4%;
}
.contentAdmin {
    float : right;
}
#content .menuAdmin {
    width: 13%;
    margin-right: 10px;
    font-size: 1.3em;
}
#content .menuAdmin ul {
    list-style-type: none;
    padding: 0;
    background-color: #3b5998;
    position: relative;
}

#content .menuAdmin li a {
    display: block;
    color: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
#content .menuAdmin li:hover:not(.active) {
    background-color: #8b9dc3;
}
#content .menuAdmin .active {
    background-color: #052059;
}
#content .menuAdmin ul h2{
    background-color: #001E5C;
    color: white;
    text-align: center;
    font-family: sansation-light;
    border-bottom: rgb(235, 235, 235)solid;
    border-width: 8px;
    margin-bottom: 0;
}

#content .contentAdmin{
    width: 85%;
}

/*************customer***************/
#content{

}
#content .menuCustomer, .contentCustomer{
    display: inline-table;
    position: relative;
}
#content .menuCustomer {

    margin-right: 10px;
    font-size: 1.3em;

}
#content .menuCustomer ul {
    list-style-type: none;
    padding: 0;
    background-color: #f1f1f1;
    position: static;
    height: 100%;

}
#content .menuCustomer li a {
    display: block;
    color: #000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
#content .menuCustomer li a.active {
    background-color: #4CAF50;
    color: white;
}
#content .menuCustomer li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/*************contentAdmin***************/
.contentAdmin h1{
    text-align: center;
    font-family: sansation-light;
    padding-bottom: 2%;
    border-bottom: groove;
    border-width: 1px;
    border-color: rgb(214, 217, 211);
}
.contentAdmin .table-data {
    padding-top: 10px;
    border: 0;
    border-collapse: collapse;
    border-width: 0px;
    border-color: rgb(214, 217, 211);

}


.contentAdmin .table-data td{
    font-size: 14px;
    padding: 3px;
}

.contentAdmin .table-data tr:nth-child(even){background-color: #f2f2f2}
 .table-data th {
    background-color: #3b5998;
    color: white;
    padding: 3px;
    
}
/***********/
.contentAdmin #panelAdd table, #panelAdd {
    padding-top: 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.contentAdmin #panelAdd table tr.spaceUnder > td
{
  padding-bottom: 5em;
}
.contentAdmin #panelAdd table td{
    text-align: left;
}

.dataTables_filter {
    padding-bottom: 5px;
}

.table-header {
/*    border: solid 1px;*/
    position: relative;
    border-color: rgb(76, 175, 80);
    background-color: #3b5998;
    color : white;
    font-size: 20px;
    padding: 4px;
    padding-left: 10px;
    margin: 0;
}



.table-content {
    border: solid 1px;
    position: relative;
    border-color: rgb(59, 89, 152);
    padding: 10px 0px 10px 0px;

}

.action-cell i {
    padding: 0px 5px 0px 5px;
}

.action-cell a, .action-cell a:active, .action-cell a:visited, .action-cell a:focus {
    text-decoration: none;
    color: black;
}

.action-cell a:hover {
    text-decoration: none;
    color : #66afe9;
}

.table-data tr:hover {
    background-color: #FCF59A;
}

.contentAdmin .table-data tr:nth-child(even):hover {
    background-color: #FCF59A
}

.contentAdmin .actions{
    padding-top: 2%;
    padding-bottom: 2%;
}
.contentAdmin .actions ul{
    list-style-type: none;
    display: inline-flex;
    padding-left: 0;
}
.contentAdmin .actions li{
    padding-right: 10px;
}

/*******************/
.row .col-md-3 ul{
    list-style-type: none;
    padding-left: 0;
}

.actions a:hover {
    text-decoration: none;
    color: white;
}


.add-worker  {
    color: white;
    text-decoration: none;
    background-color: #3b5998;
    padding: 10px;
    border-radius: 25px;
}

.add-worker:hover {
    background-color: rgb(139, 157, 195);
}



/* DATATABLES */

.dataTables_length, .dataTables_filter {
    padding: 0px 5px 5px 5px;
}

.dataTables_info {
    margin: 0;
    padding: 5px 0px 5px 5px;
}



/* END OF DATATABLES */